
//
// VARIABLES
//

// Colors
// $blue: #4183C4; 
$blue: #6666ea; 
$violet: #407ee7;
$lightorange: #eec277;
$darkorange: #D18E1A;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #e6e2e0;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$verdana: Verdana, Arial, Helvetica, sans-serif;
$bree: "Bree Serif", Georgia, serif;
$opensans: "Open Sans", Verdana, Helvetica, sans-serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
